.container {
  background-color: white;
  padding: 32px;
}
.backgroundColorAnimation {
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.title {
  height: 24px;
  border-radius: 8px;
  background-color: #e6e6e6;
  margin-bottom: 16px;
}
.btn {
  margin-bottom: 16px;
  border-radius: 8px;
  height: 18px;
  width: 30%;
  background-color: #e6e6e6;
}

.related-skills_title {
  margin-bottom: 32px;
  border-radius: 8px;
  height: 18px;
  width: 30%;
  background-color: #e6e6e6;
}

.related-skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  margin-bottom: 32px;
}

.skills {
  background-color: #e6e6e6;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
