.header {
  border-bottom: 0.25rem #f2f2f2 solid;
}

.header_container {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.link {
  text-transform: capitalize;
  padding-bottom: 2px;
  font-size: 18px;
}

.active {
  border-bottom: 2px #000000 solid;
}
