.container {
  background-color: #f0f0f0;
  padding: 32px;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: underline;
}

.related-skills_paragraph {
  margin-bottom: 16px;
  font-size: 18px;
}

.related-skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  margin-bottom: 32px;
}

.skills {
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.importance_container {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.container {
  background-color: white;
  padding: 32px;
}
.backgroundColorAnimation {
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.title {
  height: 24px;
  border-radius: 8px;
  background-color: #e6e6e6;
  margin-bottom: 16px;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.importance {
  height: 16px;
  width: 50%;
  border-radius: 8px;
}
